header {
    width: 100%;
    height: 70px;
    background-color: dodgerblue;
}

.header-center {
    width: 1200px;
    height: 100%;
    line-height: 70px;
    margin: 0px auto;
    text-align: center;
    color: #fff;
}

/* start header responsive */
@media(max-width: 1210px) {
    .header-center {
        width: 98%;
    }
}
/* end header responsive */
