.content {
    width: 100%;
    min-height: calc(100vh - 140px);
    height: auto;
    background-color: #efefef;
}

.content-center {
    width: 1200px;
    height: auto;
    margin: 0px auto;
    padding: 10px 0px;
    box-sizing: border-box;
    overflow: hidden;
}

/* start user items responsive */
@media(max-width: 1210px) {
    .content-center {
        width: 98%;
    }
}
/* end user items responsive */
