footer {
    width: 100%;
    height: 70px;
    background-color: black;
}

.footer-center {
    width: 1200px;
    height: 100%;
    line-height: 70px;
    margin: 0px auto;
    text-align: center;
    color: #fff;
}

/* start footer responsive */
@media(max-width: 1210px) {
    .footer-center {
        width: 98%;
    }
}
/* end footer responsive */

