.home {
    width: 100%;
    height: 100%;
    background-color: darkgreen;
}

.home-text {
    padding: 20px 0px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}
